DISCORD_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
BOT_PREFIX=!
WORD_DELAY_SECONDS=5
BATCH_SIZE=10
BATCH_COOLDOWN_SECONDS=20
LIST_COOLDOWN_SECONDS=90
MAX_RETRIES=3
BACKOFF_SECONDS=45
MAX_CODES_PER_LIST=5000
MIN_AUTO_MINUTES=10
