DISCORD_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
BOT_PREFIX=!
WORD_DELAY_SECONDS=3
BATCH_SIZE=10
BATCH_COOLDOWN_SECONDS=10
LIST_COOLDOWN_SECONDS=60
MAX_RETRIES=2
BACKOFF_SECONDS=30
MAX_CODES_PER_LIST=2000
MIN_AUTO_MINUTES=5
